@import "bootstrap4alpha2/bootstrap.scss";

@import "fontawesome450/font-awesome.scss";

$color1: #A8385C;
$color2: #922D4D;
$color3: #E1E1E1;

$space: 20px;

.default-menu{
	background: $color1;
	color: #fff;
}

.layout_width{
	max-width: 1200px;
	padding-left: $space;
	padding-right: $space;
}

.widthFull{
	width: 100%;
}

.header-info{
	padding: $space 0;
	*{
		color: $color1;
	}
}


/*menu*/
nav.navbar.default-menu{
  border-radius: 0;

  	*:hover{
		color: #fff;
	}

	*,a{
		color: #fff;
		font-weight: 700;
	}

	.nav-link.dropdown-toggle:after{
		display: none;
	}

	div.dropdown-menu{
	    left: initial;
	    right: 0;
	    margin-top: 8px;
	}


	div.dropdown-menu:before{
		content: "";
		text-align: center;
		display: inline-block;
		vertical-align: middle;
		margin-right: 10px;
		width: 0; 
		height: 0; 
		position: absolute;

		right: 9px;
		top: -9px;

		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-bottom: 10px solid #fff;
	}

	.dropdown-menu{
		a.dropdown-item{
		    color: #787878 !important;
		    padding: 5px 100px 5px 20px !important;
		}:hover{
	    	color: #787878 !important;
	    	background: $color3 !important;
		}
		a.active{
		    background: $color3 !important;
		}
	}

	

	i.person{
		margin-right: $space;
	}

	ul > .nav-item i{
		margin-left: $space;
	}

	input{
		color: #fff;
		width: auto;
		max-width: 600px;
		min-width: 250px;
		visibility: hidden;
		border-color: transparent;
		background: none;
		transition-duration: 0.5s;
		box-sizing: border-box;
	}::-webkit-input-placeholder {
		color: #fff !important !important;
		font-weight: 300;
	}:-moz-placeholder {
		color: #fff !important;
		font-weight: 300;
	}::-moz-placeholder {
		color: #fff !important;
		font-weight: 300;
	}:-ms-input-placeholder {  
		color: #fff !important;
		font-weight: 300;
	}
	
	button{
		background: none;
		border: none;
		margin-left: -50px;
		box-sizing: border-box;
	}

	button i{
		font-weight: 300 !important;
		box-sizing: border-box;
	}


	.form-inline:hover input{
		border-color: #fff;
		background: $color2;
		transition-duration: 0.5s;
		box-sizing: border-box;
		visibility: visible;
	}


}


/*conteudo*/


.videoDestaque,
.search-container > div,
.margin_bottom{
	margin-bottom: $space !important;
}

